
@import '_variables';
@import '{reywood:bootstrap3-sass}/bootstrap';
@import '_bootswatch';

body {
  font-weight: 300;
  padding-top: 40px;
}

footer {
  margin: 20px 0;
}

@import 'loading-animations';
@import 'components/home';
@import 'components/about';
@import 'components/activity';
@import 'components/search';
@import 'components/repo';