.about__hero {
  background-image: url(https://cdn.rawgit.com/mantaray-ar-side-projects/hook-quest-static/0.0.4/images/space-blair-fraser-raw-compressed.jpg);
  background-position: center;
  background-size: cover;
  padding: 10vh 10px;
}

.about__hero__title,
.about__hero__subtitle  {
  text-align: center;

  h1,
  h3 {
    background-color: rgba(10, 30, 30, 0.8);
    color: white;
    display: inline-block;
    padding: 10px;
  }
}

.about__content {
  margin-bottom: 20px;
  margin-top: 20px;
}