.search__hero {
  background-color: #2D2D4D;
  background-image: url(https://cdn.rawgit.com/mantaray-ar-side-projects/hook-quest-static/0.0.4/images/space-blair-fraser-raw-compressed.jpg);
  background-position: center;
  background-size: cover;
  padding: 10px 10px;
}

.search__hero__title,
.search__hero__subtitle  {
  text-align: center;

  h1,
  h3 {
    background-color: rgba(10, 30, 30, 0.8);
    color: white;
    display: inline-block;
    padding: 10px;
  }
}

.search__content {
  margin-bottom: 20px;
  margin-top: 20px;
}